
.banner{
  width: 100%;
  overflow: hidden;
  position: relative;
}

.banner .btn{
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s linear;
}
.banner:hover .btn{
  visibility: visible;
  opacity: 1;
}

.banner .btn{
  background: transparent;
  color: rgba(255,255,255,0.9);
  font-size: 32px;
  border: none;
  padding:20px;
}
.banner .btn.left{
  position: absolute;
  top:40%;
  left: 5%;
}
.banner .btn.right{
  position: absolute;
  top:40%;
  right: 5%;
}
